* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #eaeded;
}

header {
  display: block;
}

.nav-belt {
  background-color: #121920;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.nav-left {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 192px;
  min-width: 120px;
  margin-right: 20px;
  height: 60px;
}

.nav-hamburger-menu {
  border: 1px solid #494949;
  border-radius: 3px;
  padding: 4px 8px;
  margin: 10px 7px;
}

.nav-hamburger-menu:hover, .logo:hover {
  border: 1px solid white;
  cursor: pointer;
}

.nav-hamburger-menu div {
  width: 1.28rem;
  height: 2px;
  margin: 6px 0;
  background-color: white;
}

.logo {
  width: 100%;
  max-width: 99px;
  margin: 4px 0;
  padding: 7px 0;
  border: 1px solid transparent;
}

.logo img {
  width: 100%;
  padding-top: 2px;
}

.nav-search {
  flex-grow: 20;
  min-width: 350px;
  margin: 10px 7px;
}

.nav-search form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  border: 2px solid transparent;
}

.nav-search form:hover {
  border: 2px solid #f90;
  border-radius: 5px;
}

.nav-search select {
  border-radius: 3px 0 0 3px;
  width: 47px;
  outline: none;
  border: none;
  padding: 4px;
  color: #505050;
  cursor: pointer;
  height: 38px;
}

.nav-search input {
  width: 90%;
  height: 38px;
  outline: none;
  border: none;
  border-radius: unset;
  margin: 0;
  padding: 5px;
}

.nav-search button {
  width: 47px;
  background: #fdbd69;
  outline: none;
  border: none;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  height: 38px;
}

.nav-search button i {
  font-size: 1.1rem;
}

.nav-right {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
  min-width: 364px;
  /* height: 60px; */
}

.flag {
  margin: 4px 0;
  border: 1px solid transparent;
  border-radius: 2px;
  width: 60px;
  min-width: 60px;
}

.flag:hover {
  border: 1px solid white;
  cursor: pointer;
}

.flag img {
  height: 25px;
  margin-top: 20px;
  margin-left: 5px;
}

.flag i {
  color: #969696;
}

.nav-right_container {
  border: 1px solid transparent;
  margin: 4px;
  color: #ffffff;
  padding: 7px 6px;
  width: 120px;
  line-height: 14px;
}

.nav-text_return-order {
  width: 80px;
}

.nav-right_container:hover {
  border: 1px solid white;
  cursor: pointer;
}

.nav-line-1 {
  display: block;
  color: #e4e4e4;
  font-size: 12px;
  margin-top: .5rem;
}

.nav-line-2 {
  font-family: 'Noto Sans SC', sans-serif;
  font-weight: 900;
  font-size: .8rem;
}

.cart-container {
  border: 1px solid transparent;
  margin: 4px;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
}

.cart-container:hover {
  border: 1px solid white;
  cursor: pointer;
}

.nav-belt2 {
  background-color: #232f3e;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.nav-global {
  height: 37px;
  width: 224px;
  color: white;
  padding: 1px;
  padding-left: 10px;
}

.nav-global-location {
  padding: 2px;
  width: 130px;
  border: 1px solid transparent;
}

.nav-global-location:hover {
  border: 1px solid white;
  cursor: pointer;
}

.nav-global-location .icon-desktop {
  float: left;
  margin-right: 4px;
}

.nav-global-location .icon-mobile {
  display: none;
}

.nav-global-location .nav-global_text-mobile {
  display: none;
}

.nav-global-location small {
  color: white;
  margin-top: 0;
}

.nav-xshop-container {
  color: #ccc;
  flex-grow: 2;
}

.nav-xshop {
  list-style-type: none;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  font-size: small;
  padding-left: 3px;
}

.xshop-item {
  margin: 2px;
  padding: 5px;
  cursor: pointer;
  border: 1px solid transparent;
}

.xshop-item:hover {
  border: 1px solid white;
}

.swm-text-container {
  border: 1px solid transparent;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  padding: 5px 8px 6px 8px;
  display: inline-block;
  margin: 6px 2px 7px 1px;
}

.swm-text-container:hover {
  border: 1px solid white;
  cursor: pointer;
}

.nav-subnav-container {
  background-color: #d8f7eb;
  font-size: 13px;
  font-weight: 700;
  padding: 14px 18px;
}

.nav-subnav-container a {
  text-decoration: none;
  color: #0066c0;
}

.nav-subnav-container a:hover {
  text-decoration: underline;
  color: #c4551d;
  text-decoration-color: #c4551d;
}

/* main section */

main {
  width: 100%;
  max-width: 1500px;
  background-color: #eaeded;
  margin: auto;
}

.main-background-container {
  position: relative;
  max-width: 1500px;
  margin: auto;
  position: relative;
  height: 240px;
}

.main-background_image {
  height: 500px;
  background: linear-gradient(to top, #eaeded 5%, transparent 30%), url("./images/main-background_image.jpg") left 50% top 0 no-repeat;
}

.main-background_image i {
  position: absolute;
  top: 25%;
  color: #6b6b6b;
  cursor: pointer;
}

.flex-container {
  list-style-type: none;
  margin: 0;
  padding: 0 6px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}

.flex-items {
  background-color: #ffffff;
  margin: .7%;
  width: 23%;
  max-width: 350px;
  min-width: 280px;
  flex-grow: 1;
  overflow: hidden;
  padding: 0 20px;
}

.flex-items:nth-child(4) {
  height: 405.703px;
}

.flex-items:last-child {
  display: none;
}

.flex-image-comtainer {
  width: 100%;
  overflow: hidden;
}

.flex-image-comtainer img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.flex-items h2 {
  font-family: "Noto Sans SC";
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: .5rem;
}

.flex-items p {
  font-size: .9rem;
  font-weight: small;
  color: #1b6bc2;
}

.flex-items .sign-btn, .sign-btn {
  background: linear-gradient(to top, #f0c14c, #faebc8);
  font-size: .8rem;
  color: black;
  border-radius: 3px;
  border-color: #ADB1B8 #A2A6AC #8D9096;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  padding: 7px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  transition: all .5s;
}

.flex-items .sign-btn:hover, .sign-btn:hover {
  background: linear-gradient(to top, #eeb934, #f9e6b9);
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.flex-items p:hover {
  color: #c96028;
  text-decoration: underline;
  text-decoration-color: #c96028;
  cursor: pointer;
}

.flex-row_container {
  padding: 0 1rem;
  margin-top: 1rem;
}

.flex-row-1_container {
  background-color: white;
  padding: 1rem;
  position: relative;
  margin-bottom: 1.4rem;
}

.flex-row-1_container:hover .angele-arrow {
  display: block;
}

.angele-arrow {
  background-color: #fffffff5;
  display: none;
  padding: 1rem;
  border-radius: 3px;
  position: absolute;
  top: 28%;
  cursor: pointer;
  color: rgb(102, 102, 102);
}

.an-aro1 {
  box-shadow: 2px 0 2px #9b9a9a;
  left: 10px;
}

.an-aro2 {
  box-shadow: -2px 0 2px #9b9a9a;
  right: 10px;
}

.flex-row-1_container h2 {
  display: inline-block;
  color: #474747;
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0;
  margin-right: 1rem;
}

.flex-row-1_container small {
  font-size: .9rem;
  font-weight: small;
  color: #1b6bc2;
}

.flex-row-1_container small:hover {
  color: #c96028;
  text-decoration: underline;
  text-decoration-color: #c96028;
  cursor: pointer;
}

.discover-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: auto;
}

.discover-item {
  margin: 0 30px;
  cursor: pointer;
}

.discover-container::-webkit-scrollbar {
  width: 5px;
  background-color: white;
  height: 5px;
}

.discover-container::-webkit-scrollbar-thumb {
  background: #6b6b6b;
  border-radius: 10px;
}

/* footer */

.main-footer {
  color: white;
}

.white-board {
  background-color: white;
  margin: 0;
  margin-top: 2rem;
  height: 3rem;
  border-bottom: 1px solid #e2e2e2;
}

.main-footer_header {
  background-color: white;
  margin: 0;
  padding: 1rem;
  padding-bottom: 2rem;
  text-align: center;
}

.main-footer_header h3 {
  margin: 0;
  margin-bottom: .4rem;
  color: #444;
  font-weight: 400;
}

.main-footer_header p {
  margin: .4rem;
  margin: auto;
  width: 300px;
}

.footer-body_header {
  background-color: #37475a;
  padding: 1rem;
  text-align: center;
}

.footer-body_header:hover {
  background-color: #485769;
  cursor: pointer;
}

.footer-body_header p {
  margin: 0;
  font-size: 13px;
}

.footer-body_container {
  background-color: #232f3e;
  padding: 2.2rem 0;
  padding-bottom: 0;
}

.footer-body_content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0 1rem 3rem;
  width: 90%;
  margin: auto;
  max-width: 1000px;
}

.footer-container {
  list-style-type: none;
  margin: 0 1rem;
  padding: 0;
}

.footer-container h3 {
  font-size: 16px;
  color: #fefefe;
  margin: 14px 0;
}

.footer-container li {
  font-size: 13px;
  color: #DDD;
  margin: 0 0 10px;
}

.footer-container li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.border-line {
  border-bottom: 1px solid #707070;
}

.footer-middle_belt {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
}

.footer-logo {
  box-sizing: content-box;
  height: 25px;
  padding-top: .28rem;
  margin-right: 6rem;
  cursor: pointer;
}

.footer-logo img {
  height: 100%;
}

.footer-middle_item {
  font-size: 14px;
  box-sizing: content-box;
  border: 1px solid #777777;
  margin: 3px;
  padding: .2rem 1rem .2rem .3rem;
  border-radius: 3px;
  cursor: pointer;
}

.footer-middle_item p {
  margin: .4rem;
}

.footer-copy-right {
  background-color: #131a21;
  text-align: center;
  padding: 1.3rem;
  font-size: 14px;
}

.footer-copy-right small {
  margin: .7rem;
}

.footer-copy-right small:nth-child(-n+3):hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer-copy-right small:last-child {
  color: #7c7c7c;
}

@media (max-width: 679px) {
  *:hover {
    border: 0px solid transparent !important;
  }
  
  .nav-belt {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
  }

  .nav-left {
    height: auto;
    align-items: center;
  }

  .nav-hamburger-menu {
    border: none;
    box-sizing: content-box;
  }

  .nav-hamburger-menu div {
    width: 3.1rem;
    height: 6px;
    margin: 13px 0;
  }

  .logo img {
    box-sizing: content-box;
    height: 62px;
    padding-left: 23px;
    padding-top: 21px;
  }

  .nav-search {
    order: 1;
  }

  .nav-search input {
    height: 110px;
    border-radius: 7px 0 0 7px;
    font-size: 3rem;
    padding-left: 17px;
  }

  .nav-search button {
    width: 110px;
    border-radius: 0 7px 7px 0;
  }

  .nav-search button i {
    font-size: 3.1rem;
  }

  .nav-right {
    flex-grow: 0;
    height: auto;
    justify-content: flex-end;
    align-items: center;
  }

  .cart-image-container img {
    box-sizing: content-box;
    padding-top: 10px;
    height: 80px;
  }

  .nav-line-2 {
    font-size: 1.9rem;
    padding-bottom: 10px;
  }

  .nav-belt2 {
    box-sizing: content-box;
    padding: 0;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .nav-global {
    height: auto;
    width: auto;
    padding: 0;
  }

  .nav-global-location {
    padding: 1rem;
    padding-left: 2rem;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-search select, .nav-right .flag, .nav-right_container, .nav-global-location .icon-desktop, .nav-global-location .nav-global_text-desktop, .swm-text-container, .nav-subnav-container {
    display: none;
  }

  .nav-global-location .icon-mobile {
    display: inline-block;
    margin-right: 1rem;
  }

  .nav-global-location .nav-global_text-mobile {
    box-sizing: content-box;
    display: inline-block;
    font-size: 2rem;
    color: #d4d4d4;
    margin: 0;
  }

  .nav-xshop-container {
    width: 100%;
    order: -1;
  }

  .nav-xshop {
    justify-content: center;
    font-size: 26px;
    padding: 1rem;
    background-color: #121920;
  }
}

@media (min-width:680px) and (max-width: 963px) {
  .nav-belt {
    align-items: center;
  }

  .nav-left {
    height: auto;
    width: 14%;
    margin-right: 40px;
  }

  .nav-hamburger-menu {
    height: 33px;
    margin: 6px;
    padding: 2.5px 6px;
  }

  .nav-hamburger-menu div {
    width: 1rem;
    height: 1.5px;
    margin: 5px 0;
  }

  .logo {
    padding: 0;
    padding-top: 5px;
  }

  .nav-search select, .nav-search button {
    height: 30px;
  }

  .nav-search {
    min-width: unset;
    width: auto;
    margin: 0;
  }

  .nav-search input {
    height: 30px;
    min-width: 150px;
    margin: 0;
  }

  .nav-right {
    min-width: 262px;
  }

  .flag {
    min-width: unset;
    width: auto;
    margin: 0 3px;
  }

  .flag img {
    height: 17px;
  }

  .nav-right_container {
    width: unset;
    line-height: 10px;
    margin: 0 3px;
    padding: 7px 6px;
  }

  .nav-line-1 {
    font-size: 9px;
  }

  .nav-line-2 {
    font-size: 10px;
  }

  .cart-image-container img {
    height: 20px;
  }

  .cart-container {
    margin: 0;
  }

  .nav-global-location .icon-desktop {
    margin-right: 7px;
  }

  .nav-global-location {
    line-height: 13px;
  }

  .nav-global {
    width: 155px;
  }

  .swm-text-container {
    font-size: 11px;
  }

  .nav-xshop {
    box-sizing: content-box;
    font-size: 10px;
  }

  .flex-items {
    max-width: unset;
    min-width: unset;
    width: 24%;
  }

  .flex-items h2{
    font-size: .85rem;
  }

  .footer-body_content {
    padding: 0 0 3rem;
  }

  .footer-container h3 {
    font-size: 12px;
  }

  .footer-container li {
    font-size: 11px;
  }
}

@media (max-width: 1198px) {
  .flex-items:last-child {
    display: block;
  }
}